@font-face {
	font-family: 'Futura';
  src: url('./FuturaStd-Light.eot'),
    url('./FuturaStd-Light.woff') format('woff');
		// url('./FuturaStd-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Futura';
  src: url('./FuturaStd-Book.eot'),
    url('./FuturaStd-Book.woff') format('woff');
		// url('./FuturaStd-Book.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Futura';
  src: url('./FuturaStd-Medium.eot'),
    url('./FuturaStd-Medium.woff') format('woff');
		// url('./FuturaStd-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Futura';
  src: url('./FuturaStd-Heavy.eot'),
    url('./FuturaStd-Heavy.woff') format('woff');
		// url('./FuturaStd-Heavy.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Futura';
  src: url('./FuturaStd-Bold.eot'),
    url('./FuturaStd-Bold.woff') format('woff');
		// url('./FuturaStd-Bold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}
