.page-1-shoes {
  h2 {
    text-align: center;
  }
}
.shoe-orders {
  width: 100%;
  margin: 0 0 16px;
}
.shoe-orders > div {
  margin: 24px 5px 24px 0;
  display: flex;
}

.single-shoe {
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.1);
  background: #fff;
  padding: 20px;
  width: 100%;
}
.img {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  img {
    width: 100%;
  }
}

.info {
  position: relative;
  margin: 0 auto;
  margin-top: 8px;
  h6 {
    margin: 0;
    font-size: 14px;
    font-weight: 800;
  }
  h5 {
    margin: 0;
    text-transform: capitalize;
    color: #555555;
    font-weight: normal;
    font-size: 14px;
    margin-top: 3px;
  }

}

@media only screen and (min-width: 768px) {

  .shoe-order-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -20px;
  }

  .shoe-orders {
    width: calc(50% - 40px);
    margin: 0 20px 40px;
  }

  .page-1-shoes {
    h2 {
      margin-bottom: 36px;
    }
  }

}

@media only screen and (min-width: 1280px) {

  .shoe-orders {
    width: calc(33% - 40px);
    &:nth-child(4n):last-child {
      flex-basis: 100%;
      .single-shoe {
        width: calc(33% - 20px);
      }
    }
  }



}
