html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input, button, form {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border: none;
  background-color: transparent;
}

h1, h3, h2, ul, h4, h5, h6, input, button, p, span, a {
  font-family: 'Futura', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
  color: #111111;
  margin: 0;
}

h1 {
  font-size: 2.5rem;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
}

p, ul, h2 {
  font-size: 1rem;
  line-height: 1.75;
  letter-spacing: normal;
  margin-bottom: 14px;
}

h2 {
  font-weight: 800;
}

h3 {
  font-size: 1.5rem;
  line-height: 1.17;
  font-weight: 800;
  margin-bottom: 10px;
}

ul {
  padding: 0 20px;
}

header.step-page-header {
  text-align: center;
  margin: 0 0 20px;
}

.red-underline {
  border-bottom: 2px solid #7f272b;
  padding: 0;
  &:hover {
    cursor: pointer;
  }
}

.primary {
  background: #000;
  border: 2px solid #000;
  color: #fff;
}
.secondary {
  background: #fff;
  border: 2px solid #000;
  color: #000;
}

@media only screen and (min-width: 768px) {
  header.step-page-header {
    text-align: center;
    margin: 0 0 38px;
  }
}

@media only screen and (min-width: 1024px) {

  .primary {
    &:hover {
      background: #fff;
      color: #000;
      border: 2px solid #000;
    }
  }
  .secondary {
    &:hover {
      background: #000;
      color: #fff;
      border: 2px solid #fff;
    }
  }
}
